---
import { GET } from "../api/workout-logs/[id]";

export const prerender = false;

const { id } = Astro.params;

if (!id) {
	return Astro.redirect("/history");
}

const response = await GET(Astro);

if (response.status === 404) {
	return Astro.redirect("/404");
}

import { WorkoutLogContainer } from "@/components/WorkoutLogContainer";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type {
	Exercise,
	Routine,
	RoutineExercise,
	RoutineGroup,
	WorkoutLog,
	WorkoutLogEntry,
} from "prisma/generated/client";

type WorkoutLogWithDetails = WorkoutLog & {
	routine: Routine & { group: RoutineGroup; exercises: RoutineExercise[] };
	entries: (WorkoutLogEntry & { exercise: Exercise })[];
};

const log: WorkoutLogWithDetails = await response.json();

if (!log) {
	return Astro.redirect("/404");
}
---

<BaseLayout title={`Edit ${log.routine.name}`}>
	<div class="container mx-auto py-8 px-4 flex flex-col gap-6">
		<WorkoutLogContainer client:load log={log} />
	</div>
</BaseLayout>
