---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { RoutineService } from "@/services/routine-service";
import { RoutineGroupList } from "../components/RoutineGroupList";

const groups = await RoutineService.getGroups();
---

<BaseLayout title="My routine groups">
	<div class="container mx-auto py-8">
		<RoutineGroupList client:load groups={groups} />
	</div>
</BaseLayout>
