---
import { ClientRouter } from "astro:transitions";
import { cn } from "@/lib/utils";

import { Header } from "@/components/Header";
import { Footer } from "@/components/Footer";
import HeadSEO from "@/components/HeadSEO.astro";
import { Toaster } from "@/components/ui/sonner";

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<ClientRouter />
		<HeadSEO title={title} description={description} ogImage={ogImage} />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<script is:inline>
			const getTheme = () => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: light)").matches) {
					return "light";
				}
				return "dark";
			};

			const setTheme = () => {
				const theme = getTheme();
				if (theme === "dark") {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
				window.localStorage.setItem("theme", theme);
			};

			setTheme();

			document.addEventListener("astro:after-swap", setTheme);
		</script>
	</head>
	<body
		class={cn(
			"group/body overscroll-none antialiased [--footer-height:calc(var(--spacing)*16)] [--header-height:calc(var(--spacing)*14)] xl:[--footer-height:calc(var(--spacing)*24)]",
		)}
	>
		<div class="bg-background relative flex min-h-svh flex-col">
			<Header client:load />
			<main class="relative flex flex-1 flex-col pb-16 md:pb-0 max-w-dvw">
				<slot />
			</main>
			<Footer client:load />
		</div>
		<Toaster client:load transition:persist />
	</body>
</html>
