---
import { ClientRouter } from "astro:transitions";
import { cn } from "@/lib/utils";

import HeadSEO from "@/components/HeadSEO.astro";
import { Toaster } from "@/components/ui/sonner";

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter />
		<HeadSEO title={title} description={description} ogImage={ogImage} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<script is:inline>
			const getTheme = () => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			};

			const setTheme = () => {
				const theme = getTheme();
				if (theme === "dark") {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
				window.localStorage.setItem("theme", theme);
			};

			setTheme();

			document.addEventListener("astro:after-swap", setTheme);
		</script>
	</head>
	<body
		class={cn(
			"group/body overscroll-none antialiased [--footer-height:calc(var(--spacing)*14)] [--header-height:calc(var(--spacing)*14)] xl:[--footer-height:calc(var(--spacing)*24)]",
		)}
	>
		<div class="bg-background relative flex min-h-svh flex-col">
			<main class="relative flex flex-1 flex-col">
				<slot />
			</main>
		</div>
		<Toaster client:load />
	</body>
</html>
